body{
    font-family: 'Lato', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.container{
    max-width: 117rem;
    margin: auto;
}
.section_padding{
    padding: 7rem 0;
}
/*--Start section_A part--*/
.section_A{
     background: linear-gradient(rgba(45, 52, 54, 0.5),rgba(45, 52, 54, 0.5)),url("images/programming-1873854_640.png");
     height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}
.main_menu{
    text-align: center;
}
.main_menu ul{
    list-style-type: none;
}
.main_menu ul li{
    display:inline-block;
    padding: 1rem 1.5rem;
    transition: .5s;
    margin: .1rem;  
}
.main_menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
}
.main_menu ul li a:hover{
    border-bottom: .3rem solid green; 
}
.section_A .title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}
.section_A .title h1{
    font-size: 3.5rem;
    font-weight: 700;  
}
.section_A .title p{
     font-size: 1.9rem;
    font-weight: 300;
}
.section_A .title button{
    background: #333333;
    border: .1rem solid #fff;
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
    color:#fff;
    margin: 3rem 0;
    border-radius: 2rem;
}
.section_A .title button:hover{
    background: #fff;
    color: black;
    cursor: pointer;
}

/*--Start section_B part--*/
.section_B{
    background: #eaeaea;
    overflow: hidden;
}
.section_B h2{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}
.section_B .all_grid{
    
}
.section_B .all_grid .grid{
    width: 50%;
    float: left;
}
.section_B .all_grid .grid p{
    font-size: 2rem;
    padding: 0 7rem;
    text-align: center;
}
/*--Start section_C part--*/
.section_C{
    background: #333333;
    overflow: hidden;
}
.section_C .all_grid{
    overflow: hidden;   
}
.section_C .all_grid .grid{
    padding: 0 2.5rem;
     width: 30%;
     float: left;  
}
.section_C .all_grid .grid:first-child{
    margin-left: 5%
}
.section_C .all_grid .grid .img_size{
    width: 100%;
}
.section_C .all_grid .grid .img_size img{
    width: 100%;
}
.section_C .all_grid .grid .title{
    background: #fff;
    padding: 7rem 2.5rem; 
    margin-top: -.2rem;
}
.section_C .all_grid .grid .title h3{
    text-align: center;
    font-size: 2.5rem;
}
.section_C .all_grid .grid .title p{
    text-align: center;
    font-size: 1.8rem;
    padding-bottom: 4rem;
    margin-top: 1rem;
}
/*--Start section_D part--*/
.section_D{
    background: #eaeaea;
    overflow: hidden;
}
.section_D h2{
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 3rem;
}
.section_D p{
    text-align: center;
    width: 70%;
    margin: auto;
    font-size: 1.8rem;
}
/*--Start section_E part--*/

.section_E{
    overflow: hidden;
}
.section_E .box{
    width: 50%;
    float: left;
    padding: 2rem 4rem;  
}
.section_E .box h2{
    text-align: center;
    color: #fff;
    font-size: 3rem;
    padding: 1rem 0;
}
.section_E .box p{
    width: 90%;
    color: #fff;
    font-size: 2.2rem;
    margin: auto;
    margin: 2rem ;
    text-align: center;
   
    
}
.section_E .box span{
    text-align: center;
    color: #fff;
    font-size: 2rem;
    display: block;
    margin: 1.6rem 0;
}
.section_E .box_1{
   background: #2690D4;
}
.section_E .box_2{
    background: #333333;
}
/*--Start section_F part--*/
.section_G p{
    width: 50%;
    float: left;
    background: #000000;
    padding: 3.5rem 9rem;
    color: #fff;
    text-align: center;
    font-size: 2rem;
}
.section_G .second span{
    color: #2690D4;
}
